body {
	background-color:#eee;
	font-size:1em;
	font-family:'Open Sans', sans-serif;
}

#wrapper {
	width:80%;
	background-color:#8ba6b6;
	margin:auto;
	padding:1em;
}

header {
	text-align:center;
}

section img {
	margin:auto;
	width:60%;
	padding:1em;
	display:block;
}

/* FOOTER STYLES */

footer {
	background-color:#8ba6b6;
	width:80%;
	margin:auto;
	padding:1em;
}

footer p {
	text-align:center;
}

/* TEXT STYLES */

h1, h2, h3 {
	text-align:center;
}

p {
	text-align:justify;
	font-size:1em;
}

/* LINK STYLES */

a {
	text-decoration:none;
	color:#eee;
	
	transition:all 0.6s ease;
}

a:hover {
	color:#000;
}

/* NAVIGATION STYLES */

nav {
	width:80%;
	background-color:#617c8c;
	margin:auto;
	padding:1em;
}

ul {
	text-align:center;
}

ul li {
	display:inline;
}

nav a {
	padding:1em 6em;
	background-color:#617c8c;
	border:1px solid #405b6b;
	line-height:4em;
}

@media screen and (max-width:600px) {
	nav a {
		padding:1em 1em;
	}
}

nav a:hover {
	background-color:#405b6b;
	border:1px solid #405b6b;
}

.selected {
	background-color:#405b6b;
	border:1px solid #405b6b;
}

ol {
	
}

/* TABLE STYLES */

table {
	margin:auto;
}

table, tr, td {
	border:1px solid #405b6b;
	border-collapse:collapse;
}

th {
	background-color:#405b6b;
}

td {
	padding:1em;
}

/* FORM STYLES */

form {
	margin:auto;
}

label {
	font-weight:bold;
	padding:0.2em;
}

.button {
	background-color:#617c8c;
	border:1px solid #405b6b;
	padding:0.5em;
	margin:0.8em;
	color:#eee;
	font-size:1em;
}

input, option, textarea, select {
	background-color:#617c8c;
	border:1px solid #405b6b;
}

input, select {
	padding:0.3em;
}

p.error {
	color:#b31a1a;
	font-weight:bold;
}